{% extends "core/base.html" %}

{% block content %}

<div class="container mt-4">
    <h3 class="title-type1">Registro Exitoso</h3>
    <div class="container mt-4">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        Su registro fue exitoso.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <p>Gracias por registrarse en M2J. Para completar el proceso de registro, necesitamos que active su cuenta dando clic al enlace que se envió a su correo electrónico.</p>
</div>
{% endblock %}