{% extends 'core/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="d-flex mt-4">
        <div class="p-2  flex-grow-1"><h3 class="title-type1">{{ project.name }}</h3></div>
        <!-- div class="p-2"><a class="btn btn-primary btn-sm" href="{% url 'projectCreate' %}">Crear Proyecto <i class="bi bi-plus-lg"></i></a></div-->
    </div>
</div>

<hr class="rules">


    <h1>Encuesta</h1>
    <p>Pregunta {{ progreso }} de {{ total_preguntas }}</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="{{ porcentaje }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Siguiente</button>
    </form>
</body>
</html>


{% endblock %}