{% extends 'core/base.html' %}

{% block content %}

<div class="container home-text">
    <div>
        <h2 class="display-4 fw-bold">ControlNow</h2>
        <div class="d-flex p-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.</p>
        </div>
        {% if request.user.is_authenticated %}
            <a href="{% url 'projectCreate' %}" class="btn btn-primary">Crear Proyecto <i class="bi bi-plus-lg"></i></a>
        {% else %}
            <a href="{% url 'projectCreate' %}" class="btn btn-danger">Ingresar</a>
        {% endif %}
        <a href="{% url 'projects' %}" class="btn btn-outline-secondary">Ir a Proyectos</a>
    </div>
</div>

{% endblock %}
