{% extends 'core/base.html' %}

{% block content %}


<div class="container home-text">
    {% if request.user.is_authenticated %}
    <div>
        <h1 class="display-1 fw-bold text-center">M2J</h1>
        <div class="mt-4">
            <h5 class="text-center">Bienvenido!!</h5-->
        </div>
        <div class="mt-4 text-center">
                <a href="{% url 'projectCreate' %}" class="btn btn-primary"><i class="bi bi-plus-square"></i> Crear Proyecto</i></a>
                <a href="{% url 'projects' %}" class="btn btn-outline-secondary"><i class="bi bi-list-ol"></i> Ir a Proyectos</a>
        </div>
    </div>
    {% else %}
    <div>
        <h1 class="display-1 fw-bold text-center">M2J</h1>
        <div class="mt-4">
            <p class="text-justify"><strong>M2J: Líderes en SOC2 para su Empresa.</strong> En M2J, somos expertos en seguridad digital y ofrecemos un servicio para la gestión de controles de sus sistemas y su organización. Nuestros servicios se centran en evaluar y mejorar la seguridad de su organización, garantizando que cumpla con los estándares más exigentes de la industria.</p>
        </div>
        <div class="mt-4 text-center">
            <a href="{% url 'login' %}" class="btn btn-danger"><i class="bi bi-door-open"></i> Ingresar</a>
            <a href="{% url 'projects' %}" class="btn btn-outline-secondary"><i class="bi bi-list-ol"></i> Ir a Proyectos</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
