{% extends 'core/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="d-flex mt-4">
    <div class="p-2  flex-grow-1"><h3 class="title-type1">Proyecto</h3></div>
    <!-- div class="p-2"><a class="btn btn-primary btn-sm" href="{% url 'projectCreate' %}">Crear Proyecto <i class="bi bi-plus-lg"></i></a></div-->
</div>

<hr class="rules">

<!-- Sección de Mensajes-->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<!-- div class="p-2"><a class="btn btn-primary btn-sm" href="{% url 'projectCreate' %}">Crear Proyecto <i class="bi bi-plus-lg"></i></a></div-->


<div class="mt-4 d-flex justify-content-evenly">
    <div id="progressProjectSummary" class="card" style="width: 48%">
        <div class="card-header">Resumen del proyecto</div>
        <div class="card-body">
            <h6 class="card-subtitle text-muted mb-2 mt-2">Políticas</h6>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-label="Success striped example" style="width: 75%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <br>
            <h6 class="card-subtitle text-muted mb-2">Controles</h6>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-label="Success striped example" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
            <br>
            <h6 class="card-subtitle text-muted mb-2">Evidencias</h6>
            <div class="progress mb-2">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-label="Success striped example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
        </div>
    </div>

    <div id="formProjectSummary" class="card" style="width: 48%">
        <div class="card-header">Datos del proyecto</div>
        <div class="card-body">
            <h6 class="card-subtitle text-muted mb-2 mt-2">Nombre del proyecto</h6>
            <h6 class="mb-4">{{ project.name }}</h6>
            <div class="card mt-2">
                <div class="card-body flex-column">
                    <h6 class="card-title text-muted">Período de monitoreo</h6>
                    <div class="d-flex flex-row justify-content-evenly">
                        <div class="card" style="width: 48%">
                            <div class="card-body d-flex justify-content-evenly">
                                <div>
                                    <h6 class="card-subtitle text-muted">Fecha inicio</h6>
                                    <h6 class="card-text">{{ project.startDate|date:"M d, Y" }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="width: 48%">
                            <div class="card-body d-flex flex-row justify-content-evenly">
                                <div>
                                    <h6 class="card-subtitle text-muted">Fecha fin</h6>
                                    <h6 class="card-text">{{ project.endDate|date:"M d, Y" }}</h6>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        <i class="bi bi-pencil"></i>
                                        Editar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h6 class="card-text mb-2 mt-4">Contacto Admin</h6>
        </div>
    </div>
    
</div>

<div class="container mt-4 d-flex">
    <div class="card" style="width: 100%">
        <div class="card-body">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Polícitas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Controles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Evidencias</a>
                </li>
            </ul>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Política</th>
                      <th scope="col">Versión</th>
                      <th scope="col">CAMPO3</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><a href="#">VALOR1</a></td>
                      <td>VALOR</td>
                      <td>VALOR</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td><a href="#">VALOR2</a></td>
                      <td>VALOR</td>
                      <td>VALOR</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td><a href="#">VALOR3</a></td>
                      <td>VALOR</td>
                      <td>VALOR</td>
                    </tr>
                  </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">MODAL - MODIFICACIÓN FECHA FIN</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            MODAL - MODIFICACIÓN FECHA FIN
            JUSTIFICACION
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  
        





{% endblock %}

